{%extends 'all/base.html'%}
{%load static%}
{% block content%}
<head>

<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">

    <style>
        .party{
            position: absolute;
            top: 5%;
            left: 10%;
            width:25%;
            text-align: center;
            color: white;
            
            
        }    
    </style>
</head>

<body style="margin-top: 100px; background-color: white;">
    <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Feskipaper.com%2Fimages%2Fnight-cityscape-4.jpg&f=1&nofb=1" alt=""  style="width: 100%;height:490px !important;">
    <div class="party">
        <h1 style="font-size: 60px !important;font-family: 'Kaushan Script', cursive;"><b> Let us help you know your neighbourhood with @Hoody</b></h1>
    </div>
    <div class="container">

        {% if current_user.neighbourhood %}
            <h1 class="text-center" style="margin-top: 20px; margin-bottom: 15px; font-size: 40px;">{{current_user.neighbourhood}} posts</h1>
            <div class="row"> 
                {%for post in posts%}
                    <div class="col-md-4">
                        <div class="card" style="font-size: 15px;">
                            <h1 class="text-center">{{post.title}}</h1>
                            <img src="{{post.image.url}}" alt="post image"style="width:100%;height:100%">
                            <p><b>Description</b><br>{{post.description}}</p>
                            <p><i>Posted on</i> <b>{{post.posted_on}}</b><br> <i>by</i> <b>{{post.posted_by}}</b></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="card" style="margin-top: 30px;">
                <div class="row">
                    <div class="col-md-2">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.freepik.com%2Ffree-icon%2Fhelp-circled_318-10762.jpg&f=1&nofb=1" alt="" style=" height: 100%;width: 100%;">
                    </div>
                    <div class="col-md-10">
                        <h1 style="margin-top: 30px;">Update your profile to have a neighbourhood to view posts posted by people living in the same neighbourhood</h1>
                    </div>
                </div>
            </div>
        {%endif%}
    </div>

    
</body>

{%include 'all/footer.html'%}
{% endblock%}