{%extends 'all/base.html'%}
{% load bootstrap4%}
{% load staticfiles %}
{% block content %}
    <body>
        <div class="container">
            <h1 class="text-center">Update your profile</h1>
            <div class="message">
                {%for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            </div>
            <div class="card">
                <form action="{%url 'update-profile'%}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form userform %}
                    {% bootstrap_form profileform %}
                    <select name="Location">
                        <option name="">Location</option>
                        <option name="" value="Nairobi">Nairobi</option>
                        <option name="" value="Ngong">Ngong</option>
                        <option name="" value="Thika">Thika</option>
                        <option name="" value="Ruiru">Ruiru</option>
                        <option name="" value="Rwaka">Rwaka</option>
                        <option name="" value="Juja">Juja</option>
                        <option name="" value="Kenol">Kenol</option>
                        <option name="" value="Westlands">Westlands</option>
                    </select> 
                    <input type="submit" value="Update">
                </form>
            </div>
        </div>
    </body>
{% endblock %}